# Rails
RAILS_ENV=production
RAILS_MASTER_KEY=83eadae6f93e2726e62a80926dea1302
SECRET_KEY_BASE=c43a7bafb28d3e7ebad11770b0abe13b4334b2e9977b21a6229fa4d6d19a5f1e61e25715297860aa4ea633984006a755afb57533740952b1fec532e5b52f1eeb
RAILS_LOG_TO_STDOUT=true
RAILS_SERVE_STATIC_FILES=true

# Public app port mapping target (host -> container 3000)
APP_HOST_PORT=3011

# App domain
APP_HOST=propertyapi.consmas.com

# Database (isolated container in this compose stack)
POSTGRES_USER=property_manager_0a028d49
POSTGRES_PASSWORD=cOpRId4954mzFA_Du7vb4BO9weNvINwljCXghjmAaOTi3WZ4
POSTGRES_DB=property_manager_production
DATABASE_URL=postgres://property_manager_0a028d49:cOpRId4954mzFA_Du7vb4BO9weNvINwljCXghjmAaOTi3WZ4@db:5432/property_manager_production

# Redis (isolated container in this compose stack)
REDIS_URL=redis://redis:6379/0

# CORS / API
CORS_ALLOWED_ORIGINS=https://propertyapi.consmas.com
JWT_SECRET_KEY=b3dbc65a3fa82a061d8c9987a562db56f45c6ea5a58d3603a9284d1dac2c137c4aaa6fb940033aa9e4753f06bfac8982d28c51184e6c05f606df403ceb8b2429

# Optional integrations
ONLINE_PAYMENTS_MOCK=false
HUBTEL_INITIATE_URL=
HUBTEL_CLIENT_ID=
HUBTEL_CLIENT_SECRET=
HUBTEL_CALLBACK_URL=https://propertyapi.consmas.com/api/v1/payment_webhooks/hubtel
ZEEPAY_INITIATE_URL=
ZEEPAY_API_KEY=
ZEEPAY_CALLBACK_URL=https://propertyapi.consmas.com/api/v1/payment_webhooks/zeepay
